sudo: false
language: python
python:
- '3.6'
env:
  matrix:
  - TOXENV=py27-django18-sqlite
  - TOXENV=py27-django18-mysql
  - TOXENV=py27-django18-postgresql
  - TOXENV=py27-django111-sqlite
  - TOXENV=py27-django111-mysql
  - TOXENV=py27-django111-postgresql
  - TOXENV=py36-django18-sqlite
  - TOXENV=py36-django18-mysql
  - TOXENV=py36-django18-postgresql
  - TOXENV=py36-django111-sqlite
  - TOXENV=py36-django111-mysql
  - TOXENV=py36-django111-postgresql
  - TOXENV=py36-django20-sqlite
  - TOXENV=py36-django20-mysql
  - TOXENV=py36-django20-postgresql
  - TOXENV=checkqa
install:
- pip install -U pip
- pip install tox codecov
script:
- tox
after_success:
- codecov
cache:
  directories:
  - "$HOME/.cache/pip"
before_cache:
- rm -f $HOME/.cache/pip/log/debug.log
notifications:
  irc:
    channels:
    - irc.freenode.org#yourlabs
    template:
    - "%{repository} (%{commit} %{author}) : %{message} %{build_url} %{compare_url}"
